<ng-container *ngIf="movie$ | async as movie">
  <section class="movie-section">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-xl-3 col-lg-4">
          <div class="movie-details-img">
            <img
              *ngIf="movie.poster_path; else other_poster"
              class="w-100"
              [src]="poster_sizes.medium + movie.poster_path"
              alt="Poster"
            />
            <ng-template #other_poster>
              <img
                class="w-100"
                src="/assets/images/poster-not-found.png"
                [alt]="movie.title"
              />
            </ng-template>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8">
          <div class="movie-details-content">
            <h2 class="movie-title">{{ movie.title }}</h2>
            <div class="banner-meta">
              <ul>
                <li class="category">
                  <span
                    ><i class="pi pi-star"></i>
                    {{ movie.vote_average | number: '1.0-1' }}/10</span
                  >
                </li>
                <li class="release-time">
                  <span>
                    <i class="pi pi-calendar"></i>
                    {{ movie.release_date | date: 'YYYY' }}</span
                  >
                </li>
                <li class="duration">
                  <span
                    ><i class="pi pi-clock"></i> {{ movie.runtime }} min</span
                  >
                </li>
              </ul>
            </div>
            <p class="banner-description">
              {{ movie.overview }}
            </p>
            <div class="banner-action">
              <button (click)="showDialog()">
                <i class="pi pi-play"></i>
                Watch Trailer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p-dialog
    header="Trailer"
    [(visible)]="visible"
    [modal]="true"
    [draggable]="false"
    [resizable]="true"
    [style]="{ width: '50vw', height: '100%' }"
  >
    <ng-container *ngIf="trailer$ | async as trialer">
      <app-show-video [Key]="trialer.key"></app-show-video>
    </ng-container>
  </p-dialog>
  <section class="tabs-container">
    <div class="container">
      <div class="card">
        <p-tabView>
          <p-tabPanel header="Overview">
            <p>
              {{ movie.overview }}
            </p>
            <table>
              <tr>
                <th>Genres</th>
                <td>
                  {{ movie.genres ?? [] | join: ',' }}
                </td>
              </tr>
              <tr>
                <th>Realease Date</th>
                <td>{{ movie.release_date | date: 'dd.MM.yyyy' }}</td>
              </tr>
              <tr>
                <th>Duration</th>
                <td>{{ movie.runtime }} min</td>
              </tr>
              <tr>
                <th>language</th>
                <td>{{ movie.original_language | uppercase }}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ movie.status }}</td>
              </tr>
            </table>
          </p-tabPanel>
          <p-tabPanel header="Videos">
            <ng-container *ngIf="videos$ | async as videos">
              <div class="row">
                <div class="col-lg-3" *ngFor="let video of videos">
                  <app-show-video [Key]="video.key"></app-show-video>
                </div>
              </div>
            </ng-container>
          </p-tabPanel>
          <p-tabPanel header="Posters">
            <ng-container *ngIf="posters$ | async as posters">
              <div class="row justify-content-start">
                <div class="col-2 mb-3" *ngFor="let poster of posters">
                  <p-image
                    [src]="imageBaseURL + 'w500' + poster.file_path"
                    alt="Movie Poster"
                    width="100%"
                    height="250"
                    [preview]="true"
                  ></p-image>
                </div>
              </div>
            </ng-container>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </section>
  <section class="actors-section">
    <div class="container">
      <ng-container *ngIf="actors$ | async as actors">
        <h4 class="cast-header">Cast</h4>
        <p-carousel
          [value]="actors"
          [numVisible]="6"
          [numScroll]="3"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-actor pTemplate="item">
            <div class="card">
              <div class="mb-3">
                <img
                  *ngIf="actor.profile_path; else anonymousActorPhoto"
                  [src]="imageBaseURL + 'w185' + actor.profile_path"
                  alt=""
                  class="w-6 shadow-2 actor-profile"
                />
              </div>
              <div>
                <h4 class="mb-1 actor-name">{{ actor.name }}</h4>
                <h6 class="mt-0 mb-3 actor-character">
                  {{ '( ' + actor.character + ' )' }}
                </h6>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </ng-container>
    </div>
  </section>
  <section
    class="simliar-movies-section"
    *ngIf="simliarMovies$ | async as simliarMovies"
  >
    <app-banner
      [movies]="simliarMovies"
      [title]="title"
      [type]="type"
    ></app-banner>
  </section>
</ng-container>

<ng-template #anonymousActorPhoto>
  <img
    src="/assets/images/anonymous.jpg"
    alt=""
    class="shadow-2 actor-profile"
  />
</ng-template>
