<footer>
  <div class="container">
    <div class="row">
      <div class="col-6 text-left">
        <span>
          © {{ yearDate | date: 'yyyy' }}
          <span class="uppercase text-main">Filma</span>, Data provided by
          <a
            class="text-main text-decoration-none"
            href="https://www.themoviedb.org"
            >TMDB</a
          >
        </span>
      </div>
      <div class="col-6 text-end">
        <span> Designed By <span class="text-main">Aya Osama</span> </span>
      </div>
    </div>
  </div>
</footer>
