footer {
  //position: absolute;
  //bottom: 0;
  width: 100%;
  border-top: 1px solid #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  background-color: var(--bg-color);
  color: var(--text-main-color);
  .row {
    flex-direction: row;
    
  }
  .text-main {
    color: var(--text-secondary-color);
  }
}

.p-carousel-container {
  width: 70% !important;
  margin: auto;
}

.p-carousel-items-content {
  overflow: visible !important;
  width: 70% !important; /* adapt this to show more/less of the sided items, but it should be the same % than for the p-carousel-container above */
}

.p-carousel-prev {
  z-index: 9999;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* Hide scrollbar for Chrome, Safari and Opera */
.p-carousel-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.p-carousel-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
