<div class="subscribe-section">
  <div class="container">
    <div class="newsletter-inner-wrap">
      <div class="row">
        <div class="col-md-6">
          <div class="newsletter-content">
            <h4>Stay with us!</h4>
            <p>
              Enter your email to subscribe to our newletter for latest movies
              and TV shows.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <form>
            <div>
              <div class="newsletter-form">
                <input
                  type="email"
                  name="email"
                  placeholder="Enter your email"
                  required=""
                />
                <input type="submit" class="btn" value="get started" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
